body {
    padding: 0;
    margin: 0;
    font-family: "Roboto", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #E0E0E0;
}

table {
    display: table;
    border-collapse: separate;
    border-spacing: 0px;
    border-color: grey;
}

table {
    width: 100%;
}

.menu_icon {
    width: 2.5%;
    background-color: #fff;
}

.avatar {
    width: 8%;
    text-align: right;
    background-color: #fff;
}

.john {
    text-align: center;
    width: 4%;
    color: #595959;
    letter-spacing: 0.9px;
    font-size: 12px;
    background-color: #fff;
}

.menu {
    width: 70%;
    padding-left: 1%;
    background-color: #fff;
}

.main-container {
    background-color: #F6F8F9;
    width: 98%;
    margin: 1% 4% 1% 1%;
}

.tab-1 {
    width: 8%;
    background-color: #fff;
}

.tab-2 {
    width: 92%;
    background-color: #FCFCFC;
}

.table {
    padding: 2% 0 10% 2%;
}

.req {
    font-weight: 700;
    font-size: 14px;
    color: #000;
    transform: rotateZ(-90deg);
    position: relative;
    margin-top: 127%;
}

.dot {}

.note {
    color: "#000";
    font-size: 14px;
    font-weight: 700;
}

.lorem {
    color: #747474;
    font-size: 12px;
    padding: 0.75% 0 2% 0
}

textarea {
    border-radius: 5px;
    background-color: #FCFCFC;
}

.team {
    color: #000;
    font-size: 14px;
    font-weight: 700;
    padding: 04% 0 1% 0;
}

.save {
    width: 70%;
    float: left;
    text-decoration: none;
    color: #000;
    font-size: 10px;
    font-weight: 700;
    border-bottom: 1px solid #000;
    padding-bottom: 2px;
    width: fit-content;
}

button {
    width: 45%;
    background-color: #32BDD2;
    color: #fff;
    border: 1px solid #32BDD2;
    border-radius: 25px;
    padding-bottom: 1%;
    padding: 3% 0 5% 0;
    font-weight: 700;
}

.self {
    color: #747474;
    font-size: 12px;
    padding-bottom: 2%;
}

.next {
    width: 22%;
    text-align: center;
}