
body{
	background-color:lightgray;
	font-family:calibri;
	}
.container{
	border-radius:20px;
	background-color:#fff;
	display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
	width:device-width;
	margin:1%;
	padding:11% 35%;
	}
	.container-arth{
	background-color:#fff;
	display: grid;
    grid-template:1fr 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
	margin-left:42%;
	margin-right:44%;
	background-color: #fff;
    padding: 10px;
	}
	.container-link{
	border-radius:	2px;
	background-color:#fff;
	display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
	width:30%;
	height:40%;
	margin:15% 35%;
	padding:1% 2% 2% 3%;
	}
	.button{
	width:100px;
	background-color:#00cccc;
	color:#fff;
	border:10px;
	border-radius:15px;
	padding:8px;
	}
.field{
	width:auto;
		}
.forget{
	float:right;
	
	}
.remember{
	float:left;
		}
.login{
	padding-top:50px;
	font-family:calibri;
	}
input{
	 padding:8px;
	 border: 1px solid #ccc;
     border-radius: 4px;
	 }
    .box{
    margin-bottom:50px;
	 }

.message{
	color:red;
}
.padding{
	padding:9% 35%;
}
a{
	text-decoration:none;
	color:gray
	}
.card {
    padding:2%;
    width: 12%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }