body{
  font-family: "Roboto",'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #F6F8F9;
    margin: 20px;
}
.container{
    background-color: #fff;
    padding-left: 35%;
    padding-top:8%;
    padding-bottom:13%;
    border-radius: 20Px;
}

.login{
    border-bottom: 3px solid #595959;
    width: fit-content;
    margin-bottom: 1%;
    
}

.input-container{
    border: 1px solid;
    border-color: #D3D3D3;
    border-radius: 10px;
    height: 30px;
    width: 45%;
  }
  .gap{
    padding-bottom: 1%;
      color: #747474;
      font-size: 12px;
  }
  .center-gap{
   padding-bottom: 8%;
  }
  .middle{
      padding-bottom: 3%;
      color: #747474;
      font-size: 12px;
      padding-top: 2%;
      margin-bottom: 1.5%;
    }
  button{
    padding: 1.5%;
    background-color: #32BDD2;
    border-color: #32BDD2;
    border: 1px;
    border-radius: 20px;
    color:#fff;
    width:15%;
    font-size: 10px;
    font-weight: 700;
}
.message{
    color: #BF574A;
    padding-top: 1%;
    font-size: 12px;
}