.section {}

body {
    clear: both;
    margin: 0%;
    padding: 0%;
    font-family: "Roboto", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #F6F8F9;
}

.padding {
    padding: 2%;
}


/*  COLUMN SETUP  */

.col {
    display: block;
    float: left;
    margin: 0% 0 0% 1.6%;
}

.col:first-child {
    padding-left: .5%;
}


/*  GROUPING  */

.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    zoom: 1;
    background-color: #fff;
    padding: .5%;
    /* For IE 6/7 */
}


/*  GRID OF TEN  */

.span_9_of_10 {
    width: 14%;
    text-align: center;
}

.span_8_of_10 {
    width: 14%;
    text-align: center;
}

.span_7_of_10 {
    width: 70%;
    text-align: center;
}

.span_6_of_10 {
    text-align: center;
}

.span_5_of_10 {
    width: 3.2%;
    text-align: center;
}

.span_4_of_10 {
    width: 2%;
    text-align: center;
    margin-top: 1%;
}

.span_3_of_10 {
    width: 6.88%;
    text-align: center;
    margin-top: 1%;
}

.span_2_of_10 {
    width: 34.92%;
    text-align: left;
    margin-top: .5%;
}

.span {
    text-align: right;
}

.span_1_of_10 {
    width: 5.56%;
    text-align: center;
    margin-top: 1%;
}

input {
    width: 100%;
}

.boarder {
    border-bottom: 2px solid #32BDD2;
    padding-bottom: .5%;
}


/*  GO FULL WIDTH BELOW 480 PIXELS */

@media only screen and (max-width: 480px) {
    .col {
        margin: 1% 0 1% 0%;
    }
    .span_1_of_10,
    .span_2_of_10,
    .span_3_of_10,
    .span_4_of_10,
    .span_5_of_10,
    .span_6_of_10,
    .span_7_of_10,
    .span_8_of_10,
    .span_9_of_10,
    .span_10_of_10 {
        width: 100%;
    }
}

.sucesess {
    background-color: #32BDD2;
    border: none;
    color: white;
    padding: 5% 15%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 3px 2px;
    cursor: pointer;
    border-radius: 25px;
}

.check {
    border-bottom: 2px solid #32BDD2;
    padding-bottom: .5%;
}