body{
    margin: 0;
    padding: 0%;
background-color: #F6F8F9;
font-family: "Roboto",'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.login{
    color: #595959;
    letter-spacing: 1.6px;
    font-weight: 700;
    border-bottom: 3px solid #595959;
    float: left;
    margin-bottom: 11%;
}
table{
    border-radius: 15px;
    background: #fff;
    padding: 8% 30%;
        width: 94%;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%); 
}
.email{
    color: #505050;
    font-size: 12px;
    padding-bottom: 1%;
}
.message{
    color: #BF574A;
    font-size: 11px;
}
.center{
    padding-top: 8%;
}
.container{
    width:100%;
    padding-top:4%;
    border-radius: 8px;
    border: 1px solid #D3D3D3;
}
.remember{
    color: #707070;
    font-size: 10px;
    
}
.underline{
    border-bottom: 2px solid #595959;
    text-decoration: none;
    float:right;
}
button{
    width: 27%;
    padding-top: 2%;
    padding-bottom:2%;
    color: #fff;
    border: 1px solid #32BDD2;
    border-radius:20px;
    background-color: #32BDD2;
   font-size: 10px;
   font-weight: 700;
   margin-top: 13%;
}