body {
    font-family: "Roboto", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0;
    background-color: #F6F8F9;
}

.nav-left {
    width: 68%;
    float: left;
    background-color: #fff;
    padding: 1% 0% 1% 1%;
}

.nav-right {
    float: left;
    width: 30%;
    background-color: #fff;
    padding: 1% 1% 1% 0;
}

.main-container {
    width: 96%;
    margin: 2% 1% 2% 2%;
}

.menu_icon {
    text-align: right;
    width: 3%;
    padding-right: 2%;
    top: 28px;
    left: 989px;
}

table {
    width: 100%;
    display: table;
    border-collapse: separate;
    border-spacing: 0px;
    border-color: grey;
}

.avatar {
    text-align: right;
    padding-left: 20px;
}

.john {
    width: 57px;
    height: 14px;
    text-align: right;
    font-size: 12px;
}

.card {
    box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.2);
    background-color: #fff;
    font-size: 14px;
    color: #747474;
    height: 70px;
}

.menu {
    padding-left: 10px;
}

.request {
    border-bottom-style: solid;
    border-color: #32BDD2;
    color: #505050;
}

.search {
    width: 75%;
    height: 35px;
    border-radius: 20px;
    border-style: solid;
    border-color: #B5B5B5;
    border-width: 1px;
    padding-left: 20px;
    margin-left: 10%;
}

.first {
    width: 20%;
}

.middle {
    width: 60%;
}

.last {
    width: 20%;
}

.request {
    border-bottom: 3px solid #32BDD2;
    padding: 5px 0px 5px;
}

.btn {
    height: 35px;
    width: 50%;
    background-color: #32BDD2;
    color: #fff;
    border: 1px solid #32BDD2;
    border-radius: 20px;
    float: right;
    font-size: 70%;
    font-weight: 700;
}

.filter {
    color: #5A5A5A;
    font-size: 12px;
    float: left;
}

.filter3 {
    color: #5A5A5A;
    font-size: 12px;
    padding: 0% 0 0 2%;
}

.filter2 {
    float: left;
    color: #5A5A5A;
    font-size: 10px;
    padding: 0% 0 0 2%;
}

.bell {
    text-align: center;
}

.approved {
    color: #5A5A5A;
    text-align: right;
    padding-right: 1%;
}

.dot-yellow {
    width: 1vw;
    height: 1vw;
    background-color: #FFC60A;
    border-radius: 52%;
    float: right;
    margin-right: 0%;
    margin-top: 0;
}

.dot {
    width: 1vw;
    height: 1vw;
    background-color: #24D081;
    border-radius: 52%;
    float: right;
    margin-right: 0%;
    margin-top: 0;
}

.dot-lemon {
    width: 1vw;
    height: 1vw;
    background-color: #D0C824;
    border-radius: 52%;
    float: right;
    margin-right: 0%;
    margin-top: 0;
}

.dot-red {
    width: 1vw;
    height: 1vw;
    background-color: #D03E24;
    border-radius: 52%;
    float: right;
    margin-right: 0%;
    margin-top: 0;
}

.show {
    text-align: center;
    font-weight: 700;
    font-size: 12px;
    color: #909090;
    padding: 2% 0 2% 0;
}

p {
    color: #505050;
    font-size: 14px;
}

p2 {
    color: #505050;
    font-size: 14px;
}

tr {
    overflow: hidden;
}

.sub-container {
    background-color: #fff;
    padding: 3%;
    border-bottom: 3px solid #00000034;
}

.sub-container-1 {
    background-color: #fff;
    padding: 0.5% 3% 0.5% 3%;
    border-bottom: 1px solid #00000034;
}

.icon {
    color: #5A5A5A;
    font-size: 12px;
}