body{
    font-family: calibri;
    margin-left: 44%;
    background-color: #fff;
}
table{
    background-color: #fff;
   }

.login{
    
    padding-top: 20%;
}

td{
   font-size: 14px;
   padding: 8%;
   padding-right: 100px;
   color: #747474;
   letter-spacing: 1.4px;
}
tr{
    padding: 0px;
}
.rejected{
    padding-bottom: 20%;
}
.card {
    box-shadow: 0px 4px 10px 0 rgba(0,0,0,0.2);
    background-color: #fff;
  }