body { 
    margin: 0; 
    padding: 0; 
    font-family: "Roboto", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    background-color: #F6F8F9; 
} 
 
.nav { 
    display: flex; 
    flex-direction: row; 
    background-color: #fff; 
} 
 
.posh { 
    width: 53%; 
    vertical-align: middle; 
    padding: .3% 0 0 1.4%; 
} 
 
.home { 
    padding-bottom: 2%; 
    border-bottom: 2px solid #cc0000; 
    font-size: 12px; 
    color: #494949; 
} 
 
.noti { 
    width: 7%; 
    padding-top: 1.4%; 
    text-align: center; 
    font-size: 12px; 
    color: #494949; 
} 
 
.barrow { 
    width: 12%; 
    padding-top: 1.4%; 
    text-align: center; 
    font-size: 12px; 
    color: #494949; 
} 
 
.whish { 
    width: 13%; 
    padding-top: 1.4%; 
    text-align: center; 
    font-size: 12px; 
    color: #494949; 
} 
 
.my-request { 
    width: 10%; 
    padding-top: 1.4%; 
    text-align: center; 
    font-size: 12px; 
    color: #494949; 
} 
 
.avatar { 
    width: 5%; 
    text-align: center; 
    padding-top: .3%; 
} 
 
.drop-down { 
    width: 4%; 
    padding-top: 1%; 
} 
 
.temp { 
    display: flex; 
    padding: 2%; 
    background-color: #fff; 
} 
 
.container { 
    padding: 2%; 
} 
 
.flex-item { 
    flex: 1 1 auto; 
    width: 30%; 
} 
 
.draft { 
    width: 70%; 
} 
 
.resnpodent { 
    color: #494949; 
    font-size: 12px; 
} 
 
.last { 
    color: #494949; 
    font-size: 12px; 
    padding-top: 2%; 
} 
 
.rcbl { 
    color: #494949; 
    font-size: 12px; 
    padding-bottom: 2%; 
} 
 
.nishant { 
    color: 1d1d1d; 
    font-size: 12px; 
    font-weight: bold; 
} 
 
.sucesess { 
    background-color: #cc0000; 
    border: 1px solid #cc0000; 
    padding: 5% 8% 5% 8%; 
    color: #fff; 
    font-size: 12px; 
    font-weight: bold; 
} 
 
.notification { 
    width: 20%; 
    margin: auto; 
    margin-left: 20%; 
} 
 
.sub-container { 
    display: flex; 
    width: 100%; 
} 
 
.complates { 
    width: 80%; 
    font-size: 18px; 
    font-weight: bold; 
    background-color: #fff; 
} 
 
.button { 
    width: 20%; 
} 
 
.request { 
    background-color: rgb(63, 54, 117); 
    border: 1px solid rgb(63, 54, 117); 
    padding: 1% 5% 1% 5%; 
    color: #fff; 
    font-size: 12px; 
    font-weight: bold; 
} 
 
.sorry { 
    color: #df0000; 
    font-size: 12px; 
    padding-bottom: 10%; 
} 
 
.dec { 
    font-size: 15px; 
    color: #494949; 
} 
 
.param { 
    font-size: 12px; 
    color: #494949; 
} 
 
.table { 
    font-size: 12px; 
    color: #494949; 
    padding: 1% 0 1% 0; 
}