body{
    font-family: "Roboto",'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     margin-top:18%;
     margin-left:38%;
}
.container{
    background-color: #00000067
}

table{
    padding: 4% 10% 4% 3%;
    float: left;
    background-color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    margin-right: -50%;
    transform: translate(-50%,-50%);
    border-radius:10px;
}

.login{
    border-bottom: 3px solid #595959;
    float: left;    ;
    margin-bottom: 10%;
    font-size:16px;
    color: #595959;
    font-size: 16px;
    font-weight:700;
    letter-spacing: 1.6px;
}
.message{
    color:#747474;
    font-size: 12px;

}

td{
    font-size: 12px;
    padding: 0px;
   
    color: #747474;
}
tr{
    padding: 0px;
}
